# Eat Safe, Love

## Notebook Set Up

In [84]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [85]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [86]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [87]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [88]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [89]:
establishments.find_one()

{'_id': ObjectId('67c317bca1acb5f79e2c2b56'),
 'FHRSID': 1043695,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6BL',
 'Phone': '',
 'RatingValue': 5,
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2018-04-04T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': 1.195625, 'latitude': 51.083812},
 'RightToReply': '',
 'Distance': 4591.765489457773,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/1043695'}]}

In [90]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}
fields = {
    '_id': 1,
    'BusinessName': 1,
    'BusinessType': 1,
    'AddressLine1': 1,
    'AddressLine2': 1,
    'AddressLine3': 1,
    'AddressLine4': 1,
    'PostCode': 1,
    'Phone': 1,
    'RatingValue': 1,
    'RatingDate': 1,
    'scores': 1,
    'geocode': 1,
    'RightToReply': '',
}
limit = 5

# Pretty print the results
results = establishments.find(query, fields).limit(limit)

df = pd.json_normalize(results)
print(df.shape)
df.head(10)

(5, 17)

,_id,BusinessName,BusinessType,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,RatingValue,RatingDate,RightToReply,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67c317bda1acb5f79e2c4688,The Chase Rest Home,Caring Premises,5-6 Southfields Road,Eastbourne,East Sussex,,BN21 1BU,,0,2021-09-23T00:00:00,,20,20,20,0.276940,50.769705
1,67c317bea1acb5f79e2c4a09,Brenalwood,Caring Premises,Hall Lane,Walton-on-the-Naze,Essex,,CO14 8HN,,0,2022-06-22T00:00:00,,20,15,30,1.278721,51.857536
2,67c317bea1acb5f79e2c4d13,Melrose Hotel,Hotel/bed & breakfast/guest house,53 Marine Parade East,Clacton On Sea,Essex,,CO15 6AD,,0,2021-08-13T00:00:00,,20,20,20,1.159270,51.789429
3,67c317bea1acb5f79e2c4f01,Seaford Pizza,Takeaway/sandwich shop,4 High Street,Seaford,East Sussex,,BN25 1PG,,1,2021-12-23T00:00:00,,20,10,20,0.102020,50.770885
4,67c317bea1acb5f79e2c4f10,Golden Palace,Restaurant/Cafe/Canteen,5 South Street,Seaford,East Sussex,,BN25 1HP,,1,2021-10-07T00:00:00,,20,10,20,0.101446,50.770724

In [91]:
# Use count_documents to display the number of documents in the result
establishments.count_documents(query)

41

In [92]:
# Display the first document in the results using pprint
# #copied Booth
# sort in descending order by Hygiene
sort = [("scores.Hygiene", -1)]
print()
pprint(establishments.find(query, fields).sort(sort)[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingValue': 0,
 'RightToReply': '',
 '_id': ObjectId('67c317bda1acb5f79e2c4688'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [93]:
# Find the establishments with a hygiene score of 20
# Used Cell 11 from setup as guide
query = {"scores.Hygiene": 20}
fields = {
    '_id': 1,
    'BusinessName': 1,
    'BusinessType': 1,
    'AddressLine1': 1,
    'AddressLine2': 1,
    'AddressLine3': 1,
    'AddressLine4': 1,
    'PostCode': 1,
    'Phone': 1,
    'RatingValue': 1,
    'RatingDate': 1,
    'scores': 1,
    'geocode': 1,
    'RightToReply': '',
}
# Use count_documents to display the number of documents in the result
establishments.count_documents(query)
# Display the first document in the results using pprint
# #copied Booth
# sort in descending order by Hygiene
sort = [("scores.Hygiene", -1)]
print()
pprint(establishments.find(query, fields).sort(sort)[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingValue': 0,
 'RightToReply': '',
 '_id': ObjectId('67c317bda1acb5f79e2c4688'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [94]:
# Pretty print the results
results = establishments.find(query, fields)

df = pd.json_normalize(results)
print(df.shape)
df.head(10)

(41, 17)

,_id,BusinessName,BusinessType,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,RatingValue,RatingDate,RightToReply,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67c317bda1acb5f79e2c4688,The Chase Rest Home,Caring Premises,5-6 Southfields Road,Eastbourne,East Sussex,,BN21 1BU,,0,2021-09-23T00:00:00,,20,20,20,0.276940,50.769705
1,67c317bea1acb5f79e2c4a09,Brenalwood,Caring Premises,Hall Lane,Walton-on-the-Naze,Essex,,CO14 8HN,,0,2022-06-22T00:00:00,,20,15,30,1.278721,51.857536
2,67c317bea1acb5f79e2c4d13,Melrose Hotel,Hotel/bed & breakfast/guest house,53 Marine Parade East,Clacton On Sea,Essex,,CO15 6AD,,0,2021-08-13T00:00:00,,20,20,20,1.159270,51.789429
3,67c317bea1acb5f79e2c4f01,Seaford Pizza,Takeaway/sandwich shop,4 High Street,Seaford,East Sussex,,BN25 1PG,,1,2021-12-23T00:00:00,,20,10,20,0.102020,50.770885
4,67c317bea1acb5f79e2c4f10,Golden Palace,Restaurant/Cafe/Canteen,5 South Street,Seaford,East Sussex,,BN25 1HP,,1,2021-10-07T00:00:00,,20,10,20,0.101446,50.770724
5,67c317bfa1acb5f79e2c58af,Ashby's Butchers,Retailers - other,777 Southchurch Road,Southend-On-Sea,Essex,,SS1 2PP,,0,2022-07-21T00:00:00,,20,20,20,0.736349,51.541448
6,67c317bfa1acb5f79e2c5ad0,South Sea Express Cuisine,Restaurant/Cafe/Canteen,33 Alexandra Street,Southend-on-sea,Essex,,SS1 1BW,,0,2022-08-03T00:00:00,,20,20,20,0.712167,51.535007
7,67c317c0a1acb5f79e2c6ffb,Golden Palace,Takeaway/sandwich shop,7 London Road,Rayleigh,Essex,,SS6 9HN,,0,2022-03-23T00:00:00,,20,15,30,0.602364,51.591515
8,67c317c0a1acb5f79e2c743f,The Tulip Tree,Restaurant/Cafe/Canteen,3 The Village,Chiddingstone,KENT,,TN8 7AH,,1,2022-03-04T00:00:00,,20,5,20,0.146450,51.185947
9,67c317c1a1acb5f79e2c7c51,F & S,Retailers - other,,81 Southernhay,Basildon,Essex,SS14 1EU,,0,2021-07-26T00:00:00,,20,20,20,0.462307,51.570050

In [95]:
len(df)

41

In [96]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query, fields)

df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
df.head(10)

41

,_id,BusinessName,BusinessType,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,RatingValue,RatingDate,RightToReply,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67c317bda1acb5f79e2c4688,The Chase Rest Home,Caring Premises,5-6 Southfields Road,Eastbourne,East Sussex,,BN21 1BU,,0,2021-09-23T00:00:00,,20,20,20,0.276940,50.769705
1,67c317bea1acb5f79e2c4a09,Brenalwood,Caring Premises,Hall Lane,Walton-on-the-Naze,Essex,,CO14 8HN,,0,2022-06-22T00:00:00,,20,15,30,1.278721,51.857536
2,67c317bea1acb5f79e2c4d13,Melrose Hotel,Hotel/bed & breakfast/guest house,53 Marine Parade East,Clacton On Sea,Essex,,CO15 6AD,,0,2021-08-13T00:00:00,,20,20,20,1.159270,51.789429
3,67c317bea1acb5f79e2c4f01,Seaford Pizza,Takeaway/sandwich shop,4 High Street,Seaford,East Sussex,,BN25 1PG,,1,2021-12-23T00:00:00,,20,10,20,0.102020,50.770885
4,67c317bea1acb5f79e2c4f10,Golden Palace,Restaurant/Cafe/Canteen,5 South Street,Seaford,East Sussex,,BN25 1HP,,1,2021-10-07T00:00:00,,20,10,20,0.101446,50.770724
5,67c317bfa1acb5f79e2c58af,Ashby's Butchers,Retailers - other,777 Southchurch Road,Southend-On-Sea,Essex,,SS1 2PP,,0,2022-07-21T00:00:00,,20,20,20,0.736349,51.541448
6,67c317bfa1acb5f79e2c5ad0,South Sea Express Cuisine,Restaurant/Cafe/Canteen,33 Alexandra Street,Southend-on-sea,Essex,,SS1 1BW,,0,2022-08-03T00:00:00,,20,20,20,0.712167,51.535007
7,67c317c0a1acb5f79e2c6ffb,Golden Palace,Takeaway/sandwich shop,7 London Road,Rayleigh,Essex,,SS6 9HN,,0,2022-03-23T00:00:00,,20,15,30,0.602364,51.591515
8,67c317c0a1acb5f79e2c743f,The Tulip Tree,Restaurant/Cafe/Canteen,3 The Village,Chiddingstone,KENT,,TN8 7AH,,1,2022-03-04T00:00:00,,20,5,20,0.146450,51.185947
9,67c317c1a1acb5f79e2c7c51,F & S,Retailers - other,,81 Southernhay,Basildon,Essex,SS14 1EU,,0,2021-07-26T00:00:00,,20,20,20,0.462307,51.570050

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [97]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'RatingValue': {"$gte": 4}, # copied $gte syntax from Booth
        'LocalAuthorityName': {"$regex": "London"}} # copied $regex syntax from Booth
fields = {
    '_id': 1,
    'BusinessName': 1,
    'BusinessType': 1,
    'AddressLine1': 1,
    'AddressLine2': 1,
    'AddressLine3': 1,
    'AddressLine4': 1,
    'PostCode': 1,
    'LocalAuthorityName': 1,
    'Phone': 1,
    'RatingValue': 1,
    'RatingDate': 1,
    'scores': 1,
    'geocode': 1,
    'RightToReply': '',
}

# Use count_documents to display the number of documents in the result
establishments.count_documents(query)
# Display the first document in the results using pprint
    # sort in descending order by Hygiene
sort = [("RatingValue", -1)]
print()
pprint(establishments.find(query, fields).sort(sort)[0])

{'AddressLine1': 'Cherry Garden Pier',
 'AddressLine2': 'Cherry Garden Street Rotherhithe',
 'AddressLine3': 'Charlton',
 'AddressLine4': '',
 'BusinessName': 'Mv City Cruises Erasmus',
 'BusinessType': 'Other catering premises',
 'LocalAuthorityName': 'City of London Corporation',
 'Phone': '',
 'PostCode': 'TN4 8HR',
 'RatingDate': '2021-05-14T00:00:00',
 'RatingValue': 5,
 'RightToReply': '',
 '_id': ObjectId('67c317bfa1acb5f79e2c63c9'),
 'geocode': {'latitude': 51.1236228942871, 'longitude': 0.249255999922752},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}

In [98]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query, fields)

df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
df.head(10)

33

,_id,BusinessName,BusinessType,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,RatingValue,RatingDate,LocalAuthorityName,RightToReply,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67c317bfa1acb5f79e2c60a3,Charlie's,Other catering premises,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,,ME12,,4,2021-10-18T00:00:00,City of London Corporation,,5,10,5,0.508551,51.369321
1,67c317bfa1acb5f79e2c63c9,Mv City Cruises Erasmus,Other catering premises,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,,TN4 8HR,,5,2021-05-14T00:00:00,City of London Corporation,,0,5,0,0.249256,51.123623
2,67c317c0a1acb5f79e2c6f16,Benfleet Motor Yacht Club,Other catering premises,Ferry Road,South Benfleet Essex,,,SS7 1NF,,4,2018-11-02T00:00:00,City of London Corporation,,0,0,10,0.561954,51.543831
3,67c317c1a1acb5f79e2c7d16,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,Leslie Ford House,Tilbury,Charlton,,RM18 7EH,,5,2020-12-04T00:00:00,City of London Corporation,,0,5,0,0.346337,51.464066
4,67c317c1a1acb5f79e2c7d17,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,Tenants Row Tilbury Docks,Tilbury Essex,,,RM18 7EH,,5,2018-11-02T00:00:00,City of London Corporation,,0,0,0,0.346325,51.464078
5,67c317c1a1acb5f79e2c841f,Mv Valulla,Other catering premises,Reeds River Cruises LtdKings ReachRiver Thames...,London,,,RM15 5QY,,5,2016-08-23T00:00:00,City of London Corporation,,0,0,0,0.287555,51.504071
6,67c317c3a1acb5f79e2ca52d,Tereza Joanne,Other catering premises,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,,E16 2NJ,,5,2021-07-09T00:00:00,City of London Corporation,,0,5,5,0.069286,51.501121
7,67c317c3a1acb5f79e2ca8f4,Brick Lane Brews,Restaurant/Cafe/Canteen,Air side London City Airport,London,,,E16 2PX,,4,2019-01-18T00:00:00,City of London Corporation,,10,5,5,0.048006,51.503733
8,67c317c3a1acb5f79e2ca90e,The Nuance Group (UK) Limited,Retailers - other,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,,E16 2PX,,5,2017-07-17T00:00:00,City of London Corporation,,0,0,0,0.047966,51.504112
9,67c317c3a1acb5f79e2ca90f,WH Smith,Retailers - other,London City Airport,Silvertown London,,,E16 2PX,,5,2017-07-17T00:00:00,City of London Corporation,,0,0,0,0.047966,51.504112

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [99]:
query = {"BusinessName": "Penang Flavours"}
establishments.find_one(query)

{'_id': ObjectId('67c322a7dd4dd3b90a8c6491'),
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'PostCode': 'SE18 7DY',
 'Phone': '',
 'LocalAuthorityCode': '511',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'scores': {'Hygiene': '', 'Structural': '', 'ConfidenceInManagement': ''},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': 0.08384, 'latitude': 51.490142},
 'RightToReply': '',
 'Distance': 4623.972328074718,
 'NewRatingPending': True,
 'RatingValue': None}

In [100]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query = {'RatingValue': 5,
        "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
        "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    } # geocode syntax copied from Booth
fields = {
    '_id': 1,
    'BusinessName': 1,
    'BusinessType': 1,
    'AddressLine1': 1,
    'AddressLine2': 1,
    'AddressLine3': 1,
    'AddressLine4': 1,
    'PostCode': 1,
    'LocalAuthorityName': 1,
    'Phone': 1,
    'RatingValue': 1,
    'RatingDate': 1,
    'scores': 1,
    'geocode': 1,
    'RightToReply': '',
}
sort = [("scores.Hygiene", 1)]
limit = 5

# Print the results
print()
pprint(establishments.find(query, fields).sort(sort)[0])

{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'LocalAuthorityName': 'Greenwich',
 'Phone': '',
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingValue': 5,
 'RightToReply': '',
 '_id': ObjectId('67c317c3a1acb5f79e2c9eba'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [104]:
# Convert result to Pandas DataFrame
results = establishments.find(query, fields).limit(limit)

df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(df))
# Display the first 5 rows of the DataFrame
df.head(5)

5

,_id,BusinessName,BusinessType,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,RatingValue,RatingDate,LocalAuthorityName,RightToReply,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67c317c3a1acb5f79e2c9e93,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,152 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,,5,2020-10-24T00:00:00,Greenwich,,5,5,5,0.092743,51.487035
1,67c317c3a1acb5f79e2c9eba,Iceland,Retailers - supermarkets/hypermarkets,144 - 146 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,,5,2019-11-13T00:00:00,Greenwich,,0,5,5,0.092420,51.487148
2,67c317c3a1acb5f79e2c9eca,Howe and Co Fish and Chips - Van 17,Mobile caterer,Restaurant And Premises 107A Plumstead High St...,,Plumstead,Greenwich,SE18 1SE,,5,2021-11-11T00:00:00,Greenwich,,0,0,0,0.092537,51.487534
3,67c317c3a1acb5f79e2c9ee7,Volunteer,Pub/bar/nightclub,130 - 132 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,,5,2019-08-05T00:00:00,Greenwich,,0,0,0,0.092080,51.487344
4,67c317c3a1acb5f79e2c9eff,Plumstead Manor Nursery,Caring Premises,Plumstead Manor School Old Mill Road,,Plumstead,Greenwich,SE18 1QG,,5,2021-06-16T00:00:00,Greenwich,,0,0,5,0.085994,51.481518

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [102]:
# This Cell copied from Booth
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0
                         }
              }

group_query = {'$group': {'_id': {
                                    'LocalAuthorityName': "$LocalAuthorityName"
                                },
                          'num_restaurants': { '$sum': 1 }, 
                         }
              }

sort_values = {'$sort': { 'num_restaurants': -1
                        }
              }

pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])

[{'_id': {'LocalAuthorityName': 'Thanet'}, 'num_restaurants': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'num_restaurants': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'num_restaurants': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'num_restaurants': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'num_restaurants': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'num_restaurants': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'num_restaurants': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'num_restaurants': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'num_restaurants': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'num_restaurants': 542}]

In [103]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
df.head(10)

55

   num_restaurants _id.LocalAuthorityName
0             1130                 Thanet
1              882              Greenwich
2              713              Maidstone
3              711                 Newham
4              686                  Swale
5              680             Chelmsford
6              672                 Medway
7              607                 Bexley
8              586        Southend-On-Sea
9              542               Tendring